<div class="m-3 h-100">

    <mat-card class="deductionschedcard">
        <mat-card-header>
          <mat-card-title>Deduction Schedules List</mat-card-title>
        </mat-card-header>

        <mat-card-content>

        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button (click)="onaddPayrollDeductionSchedule()">
                <mat-icon>add_circle</mat-icon> Add
            </button>
        </mat-card-actions>
      </mat-card>



  <!--   <table-bootstrap
    [HeadArray]="heads"
    [GridArray]="grids"
    (notifyDelete)="deletePayrollPeriod($event)"
    (notifyEdit)="editPayrollPeriod($event)"
    >
    
    </table-bootstrap> -->

    
</div>