/* mat-table.mat-cell {
    text-align:right;
    justify-content:center;
  } */
  mat-table {
    width: 100%;

  }

  tr:hover {
    opacity: 0.5;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .highlighted {
    background:#B9F4D5; /* green */
  }

  mat-cell:nth-child(1) {
      color: blue !important;
      font-weight:500;
    
  }

  .mat-column-em_id {
    flex: 0 0 15%;

}

  .mat-column-actions {
    flex: 0 0 15%;
    text-align:center !important;
}