


<!------------------------------------------------------------------------------------->

<!-- payroll : 12/26/2022   -->

<!------------------------------------------------------------------------------------->


<main-container [title]="title" (oncontentEventClose)="onClose()" >

    <div class="component-container">
        
        <div class="row row-cols-lg-2">

            <div class="col-sm-6">

                <div class="p-2" id="comp-container">

                    <app-payrollperiodlist [payrollperiodlist$]="payrolperiods$" [heads]="heads" >
                 
                    </app-payrollperiodlist>
                    
                </div>

            

            </div>
        

            <div class="col-sm-6">

               <div class="p2" id="comp-container">
                <router-outlet> </router-outlet>
               </div>
            </div>

        </div>

    </div>
    
</main-container>