<<<<<<< HEAD
table {
  width: 100%;
  
  .mat-mdc-row:hover {
    background: #f0f0f2;
  }
}
=======
/* 
table th , table td{
    text-align: center;
}

table tr:nth-child(even){
    background-color: #e4e3e3
}

th {
  background: #333;
  color: #fff;
} */
>>>>>>> a5aa619761684ad7d6312ee7654f8db949c692d8
