<!------------------------------------------------------------------------------------->

<!-- attendance : 12/09/2022   -->

<!------------------------------------------------------------------------------------->


<main-container [title]="title" (oncontentEventClose)="onClose()" >

<div class="component-container">
    
  <div class="d-flex flex-column justify content start">
    <div class="d-flex justify-content-row">
        <button class="btn btn-info" (click)="oncreate_dtr()">Create DTR</button>
    </div>


  </div>

</div>

</main-container>