

<!------------------------------------------------------------------------------------->

<!-- attendance : 12/09/2022   -->

<!------------------------------------------------------------------------------------->


<main-container [title]="title" (oncontentEventClose)="onClose()" >

  <div class="component-container">

    <div class="row">

      <div class="col-sm-12">

        <!--add content here --->

        <div class="m-2 pt-3 px-2 w-auto h-100">

          <mat-card >
            <mat-card-header>
              <mat-card-title>List of Deduction Schedules </mat-card-title>

            </mat-card-header>
           
            <mat-card-content>


               <deductionschedule-tab *ngIf="paramsMode==='add'" [deductionslist$]="empdeductionlist$"></deductionschedule-tab> 

               <app-deductionschedule-tab-edit *ngIf="paramsMode==='edit'" [deductionslist$]="jointdeductiondetails$"></app-deductionschedule-tab-edit>


            </mat-card-content>
            <mat-card-actions align="end" class="me-2">
                <button 
                mat-flat-button 
                color="primary"
                (click)="onSavePayrollDeductionTrans()">
                {{(hasSave$|async)==true? "Delete" : "Save"}}
              </button>
            </mat-card-actions>
          </mat-card>

        </div>



      </div>

    </div>

  </div>
  
</main-container>
  